.logo-footer {
  text-decoration: none;
  font-style: normal;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  margin-bottom: 20px;
  &-accent {
    color: $accent-color;
  }
}
