$main-font: Roboto, sans-serif;
$accent-color: #2196f3;
$main-color: #212121;
$secondary-color: #757575;

$main-bg-color: #ffffff;
$secondary-bg-color: #e5e5e5;
$futer-bg-color: #2f303a;
$accent-bg-color: #2196f3;